body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, button, select, option, textarea, p, blockquote, th, td {
    padding: 0;
    margin: 0;
    font: 12px/20px "Microsoft YaHei", SimHei, helvetica, arial, verdana, tahoma, sans-serif;
    word-break: break-all;
    word-wrap: break-word;
}
.topbars {
    height: 90px;
    /* background: #e8e8e8; */
    width: 100%;
    position: relative;
}
.topbars .logo {
    height: 40px;
    background: #f6f6f6;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1290;
}
.topbars .search {
    height: 50px;
    /* background: #00b38a; */
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    box-sizing: border-box;
}
.logo .logos {
    float: left;
    padding-top: 10px;
    margin-right: 20px;
    margin-left: 10px;
    overflow: hidden;
}
a {
    cursor: pointer;
    color: #555;
    text-decoration: none;
}
a:visited {
    color: #555;
}
.logo .logos a {
    display: block;
    width: 120px;
    height: 26px;
}
/* .logo .logos a .youkulogo {
    background: transparent url(https://www.youku.com/index/img/mheader/yklogo.png) no-repeat;
    background-size: 120px 30px;
} */
.logo .denglu {
    z-index: 1050;
    position: relative;
    float: right;
    height: 100%;
    min-width: 24px;
    padding: 0 10px;
    text-align: center;
}
.logo .denglu .ico_user {
    width: 16px;
    height: 16px;
    margin-top: 3px;
    display: inline-block;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    background: transparent url(https://www.youku.com/index/img/mheader/mheader.png) no-repeat;
    background-position: 0 -24px;
    background-size: 96px 144px;
}
.logo .denglu .submits {
    display: block;
    line-height: 16px;
    font-size: 12px;
    color: #555;
}
.logo .search_img {
    float: right;
    height: 100%;
    z-index: 1050;
    position: relative;
    min-width: 24px;
    padding: 0 10px;
    text-align: center;
    top: 1px;
}
.logo .search_img .ico_so {
    margin: -3px 5px -4px 0;
    background: transparent url(https://www.youku.com/index/img/mheader/mheader.png) no-repeat;
    display: inline-block;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background-position: -24px 0;
    background-size: 96px 144px;
}
.logo .search_img .soo {
    display: block;
    line-height: 16px;
    font-size: 12px;
    color: #555;
}
.logo .tabs {
    z-index: 1051;
    position: absolute;
    top: 0px;
    left: 134px;
    overflow: hidden;
    cursor: pointer;
    min-width: 24px;
    height: 40px;
    padding: 0 10px;
    text-align: center;
}
.logo .tabs .ico_menu {
    margin-top: 3px;
    background-size: 96px 144px;
    background-position: 0 0;
    width: 16px;
    height: 16px;
    display: inline-block;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    background: transparent url(https://www.youku.com/index/img/mheader/mheader.png) no-repeat;
}
.logo .tabs .pingdao {
    display: block;
    line-height: 16px;
    font-size: 12px;
    color: #555;
}
.search .search_form {
    position: relative;
    box-sizing: border-box;
    min-width: 232px;
    max-width: 480px;
    width: 100%;
    height: 30px;
    margin: 0 auto;
    padding-right: 68px;
}
.search .search_form input {
    float: left;
    width: 100%;
    border-right: 0 none;
    height: 30px;
    padding: 4px 5px;
    border: 1px solid #a0a0a0;
    outline: none;
    border-radius: 0;
    background: #fff none;
    font-size: 14px;
    line-height: 20px;
    box-sizing: border-box;
}
.search .search_form button {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    width: 68px;
    height: 30px;
    font-size: 14px;
    border-radius: 0;
    border: 1px solid #1a67cb;
    background-color: #2e8ee2;
    background-repeat: no-repeat;
    color: #fff;
    padding: 0;
    margin: 0;
}
.search .search_form button .ico_so {
    margin: -3px 5px 0 0;
    background: transparent url(https://www.youku.com/index/img/mheader/mheader.png) no-repeat;
    display: inline-block;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background-position: 0 -120px;
    background-size: 96px 144px;
}
.menu_list {
    padding: 0;;
    overflow: hidden;
    position: relative;
    min-width: 300px;
    max-width: 984px;
    margin: 0 auto;
    left: 10px;
}
.menu_list .list_1 {
    width: 100%;
    height: 46px;
    border-bottom: 3px solid #e6e6e6;
    backface-visibility: hidden;
}
.menu_list .list_1 ul {
    width: 1564px;
    height: 42px;
    margin: 0;
    padding: 7px 0 0 0;;
    position: absolute;
    top: 0;
    left: 0;
    list-style: none; 
}
.menu_list .list_1 ul li {
    float: left;
    position: relative;
    top: 3px;
    height: 39px;
    line-height: 20px;
    margin-right: 32px;
    white-space: nowrap;
}
.menu_list .list_1 ul li a {
    display: inline-block;
    padding: 8px 0;
    font-size: 18px;
    font-family: "Microsoft YaHei", SimHei, helvetica, arial, verdana, tahoma, sans-serif;
}
.menu_list .list_1 ul li a:hover,.menu_list .list_1 ul li.indexs a {
    color: #C31;
    border-bottom: 3px solid #06a7e1;
}
.contents {
    padding: 20px 10px;
    min-width: 300px;
    max-width: 984px;
    margin: 0 auto;
    width: 100%;
}
.contents .div1 {
    padding-right: 20px;
}
.contents .lists_large {
    float: none;
    width: 100%;    
}
.contents .lists_large_1 {
    z-index: 1;
    position: relative;
    background: #999;
    height: 204px;
    margin-bottom: 20px;
}
.contents .lists_large_1 .list_img {
    background-image: url(https://r1.ykimg.com/050C00005A309BFEADC0AEA43B04B7B8);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
.contents .lists_large_1 .links {
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.contents .lists_large_1 .times {
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 5px;
}
.contents .lists_large_1 .times .v_time {
    color: #ddd;
    font-family: Tahoma, arial, helvetica, verdana, tahoma, sans-serif;
    white-space: nowrap;
}
.contents .lists_large_1 .title_desc {
    position: absolute;
    z-index: 1;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-left: 5px;
    box-sizing: border-box;
}
.contents .lists_large_1 .title_desc .titles {
    height: 24px;
    line-height: 24px;
    font-size: 18px;
    color: #fff;
}
.contents .lists_large_1 .title_desc .titles a {
    color: #fff;
}
.contents .lists_large_1 .title_desc .descs {
    color: #ddd;
    height: 20px;
    overflow: hidden;
}
.contents .lists_large_1 .title_desc .descs .ico_v {
    margin: -2px 2px 0 0;
    display: inline-block;
    vertical-align: middle;
    background: transparent url(https://www.youku.com/index/img/mobile/yk.png) no-repeat;
    width: 12px;
    height: 12px;
    background-position: -30px 0;
}
i {
    font-style: italic;
}
.contents .lists_large_1 .title_desc .descs .v_num {
    font-family: arial, helvetica, verdana, tahoma, sans-serif;
    margin-right: 5px;
}
.contents .lists_large_1 .title_desc .descs .ico_comment {
    margin: -2px 2px 0 0;
    display: inline-block;
    vertical-align: middle;
    background: transparent url(https://www.youku.com/index/img/mobile/yk.png) no-repeat;
    width: 12px;
    height: 12px;
    background-position: -60px 0;
}
.con_list_1 .lists_v {
    float: left;
    width: 50%;
    height: 165px;
    padding-left: 0px;
    box-sizing: border-box;
}
.lists_v .lists_v_1 {
    z-index: 1;
    position: relative;
    background: #999;
}
.lists_v .lists_v_1 .list_img {
    background-image: url(https://r1.ykimg.com/051500005A30E6B3ADC0AEB83B0E10F1);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 5.8rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
/* .lists_v .lists_v_1 .links {
    z-index: 4;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
} */
.lists_v .lists_v_1 .times {
    position: absolute;
    z-index: 4;
    bottom: -90px;
    right: 5px;
}
.lists_v .lists_v_1 .times .v_time {
    color: #ddd;
    font-family: Tahoma, arial, helvetica, verdana, tahoma, sans-serif;
    white-space: nowrap;
}