div {
    padding: 0;
    margin: 0;
    font: 12px/20px "Microsoft YaHei", SimHei, helvetica, arial, verdana, tahoma, sans-serif;
    word-break: break-all;
    word-wrap: break-word;
}
.topbars {
    height: 90px;
    /* background: #e8e8e8; */
    width: 100%;
    position: relative;
}
.topbars .logo {
    height: 40px;
    background: #f6f6f6;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 1290;
}
.topbars .search {
    height: 50px;
    /* background: #00b38a; */
    z-index: 1;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 10px;
    box-sizing: border-box;
}
.logo .logos {
    float: left;
    padding-top: 10px;
    margin-right: 20px;
    margin-left: 10px;
    overflow: hidden;
}
a {
    cursor: pointer;
    color: #555;
    text-decoration: none;
}
a:visited {
    color: #555;
}
.logo .logos a {
    display: block;
    width: 120px;
    height: 26px;
}
/* .logo .logos a .youkulogo {
    background: transparent url(https://www.youku.com/index/img/mheader/yklogo.png) no-repeat;
    background-size: 120px 30px;
} */
.logo .denglu {
    z-index: 1050;
    position: relative;
    float: right;
    height: 100%;
    min-width: 24px;
    padding: 0 10px;
    text-align: center;
}
.logo .denglu .ico_user {
    width: 16px;
    height: 16px;
    margin-top: 3px;
    display: inline-block;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    background: transparent url(https://www.youku.com/index/img/mheader/mheader.png) no-repeat;
    background-position: 0 -24px;
    background-size: 96px 144px;
}
.logo .denglu .submits {
    display: block;
    line-height: 16px;
    font-size: 12px;
    color: #555;
}
.logo .search_img {
    float: right;
    height: 100%;
    z-index: 1050;
    position: relative;
    min-width: 24px;
    padding: 0 10px;
    text-align: center;
    top: 1px;
}
.logo .search_img .ico_so {
    margin: -3px 5px -4px 0;
    background: transparent url(https://www.youku.com/index/img/mheader/mheader.png) no-repeat;
    display: inline-block;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background-position: -24px 0;
    background-size: 96px 144px;
}
.logo .search_img .soo {
    display: block;
    line-height: 16px;
    font-size: 12px;
    color: #555;
}
.logo .tabs {
    z-index: 1051;
    position: absolute;
    top: 0px;
    left: 134px;
    overflow: hidden;
    cursor: pointer;
    min-width: 24px;
    height: 40px;
    padding: 0 10px;
    text-align: center;
}
.logo .tabs .ico_menu {
    margin-top: 3px;
    background-size: 96px 144px;
    background-position: 0 0;
    width: 16px;
    height: 16px;
    display: inline-block;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    background: transparent url(https://www.youku.com/index/img/mheader/mheader.png) no-repeat;
}
.logo .tabs .pingdao {
    display: block;
    line-height: 16px;
    font-size: 12px;
    color: #555;
}
.search .search_form {
    position: relative;
    box-sizing: border-box;
    min-width: 232px;
    max-width: 480px;
    width: 100%;
    height: 30px;
    margin: 0 auto;
    padding-right: 68px;
}
.search .search_form input {
    float: left;
    width: 100%;
    border-right: 0 none;
    height: 30px;
    padding: 4px 5px;
    border: 1px solid #a0a0a0;
    outline: none;
    border-radius: 0;
    background: #fff none;
    font-size: 14px;
    line-height: 20px;
    box-sizing: border-box;
}
.search .search_form button {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    width: 68px;
    height: 30px;
    font-size: 14px;
    border-radius: 0;
    border: 1px solid #1a67cb;
    background-color: #2e8ee2;
    /* background-image: linear-gradient(#47a4f4, #2e8ee2 7%, #2e8ee2); */
    background-repeat: no-repeat;
    color: #fff;
    padding: 0;
    margin: 0;
}
.search .search_form button .ico_so {
    margin: -3px 5px 0 0;
    background: transparent url(https://www.youku.com/index/img/mheader/mheader.png) no-repeat;
    display: inline-block;
    font-size: 0;
    line-height: 0;
    vertical-align: middle;
    width: 16px;
    height: 16px;
    background-position: 0 -120px;
    background-size: 96px 144px;

}